.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 142px;
  background: #ffffff;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  color: #181818;
}

.w-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(157, 157, 157, 0.5);
  background: linear-gradient(to left, #c5add1 0%, #fbece7 100%);
  z-index: 98;
  &__mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &-toggle {
      display: none;
      padding: 8px 0 8px 8px;
      img,
      svg {
        max-width: 32px;
        max-height: 32px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &__more {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    margin: 0;
    padding: 12px 0;
    list-style: none;
    border-radius: 5px;
    background: #fdf1f1;
    z-index: 9;
    li {
      display: block;
      a {
        display: block;
        width: 100%;
        padding: 6px 24px;
        color: #181818;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 27px 0;
  }
  &__logo {
    display: inline-block;
    margin: 0;
    position: relative;
    img,
    svg {
      max-width: 160px;
      max-height: 160px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__left {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 510px;
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 510px;
  }
  &__toggle {
    display: inline-block;
    padding: 5px 0 5px;
    img,
    svg {
      max-width: 32px;
      max-height: 32px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__info {
    display: inline-flex;
    align-items: center;
    margin: 4px 0 4px 26px;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    img,
    svg {
      display: inline-block;
      max-width: 20px;
      max-height: 20px;
      margin-right: 10px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #181818;
      text-decoration: none;
    }
  }
  &__phone {
    display: inline-block;
    margin: 0;
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #181818;
      text-decoration: none;
    }
  }
  &__call {
    display: inline-block;
    margin: 0 0 0 30px;
    opacity: 0.7;
    color: #181818;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #181818;
      text-decoration: none;
    }
  }
  &__fav {
    display: inline-block;
    position: relative;
    margin: 0 0 0 35px;
    img,
    svg {
      max-width: 32px;
      max-height: 32px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__basket {
    display: inline-block;
    position: relative;
    margin: 0 0 0 35px;
    img,
    svg {
      max-width: 32px;
      max-height: 32px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3px;
    right: -9px;
    min-width: 18px;
    height: 18px;
    padding: 1px 2px;
    border-radius: 999rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
  }
  &__menu {
    display: block;
    position: relative;
    width: 100%;
    background: #ffffff;
    & > .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  }
  &__nav {
    display: inline-block;
    position: relative;
    margin: 0 0 0 -25px;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      & > a {
        display: inline-block;
        padding: 15px 24px;
        color: #181818;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
  ::placeholder {
    color: #181818;
  }
  &__search {
    display: inline-block;
    position: relative;
    margin: 7px 0;
    input {
      display: block;
      width: 100%;
      max-width: 220px;
      padding: 7px 36px 7px 20px;
      border: 1px solid #c5add1;
      border-radius: 999rem;
      outline: none;
      color: #181818;
      font-size: 16px;
      font-weight: 700;
    }
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      padding: 4px 10px;
      border: 0;
      outline: none;
      background: transparent;
      img,
      svg {
        max-width: 17px;
        max-height: 17px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &__dropper {
    position: relative;
    &:hover {
      & > a {
        background: #fdf1f1;
        &:before {
          display: block;
          position: absolute;
          content: "";
          bottom: 100%;
          left: 0;
          width: 100%;
          height: 5px;
          border-radius: 5px 5px 0 0;
          background: #fdf1f1;
          z-index: 1;
          transition: all 0.2s ease-out;
        }
      }
      & > ul,
      & > div {
        display: block;
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    margin: 0;
    padding: 55px 60px 60px 60px;
    list-style: none;
    border-radius: 0 0 5px 5px;
    background-color: #fdf1f1;
    z-index: 4;
    &_big {
      width: 845px;
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        a {
          display: block;
          margin: 0 0 10px 0;
          opacity: 0.7;
          color: #181818;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            opacity: 1;
            color: #181818;
            text-decoration: none;
          }
        }
      }
    }
    b {
      display: block;
      margin: 0 0 20px 0;
      a {
        color: #181818;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 0.8;
          color: #181818;
          text-decoration: none;
        }
      }
    }
  }
}

.w-welcome {
  display: block;
  position: relative;
  width: 100%;
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 60px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 10px !important;
    border-radius: 999rem;
    opacity: 1;
    background-color: #ffffff;
  }
  .swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    border: 2px solid #ffffff;
    background: transparent;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      height: calc(100vh - 142px);
      padding: 150px 0;
      overflow-y: auto;
      text-align: center;
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 120px;
      font-weight: 700;
      line-height: 1.1;
    }
    &__text {
      display: block;
      margin: 5px 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
    }
    &__button {
      display: inline-block;
      margin: 65px 0 0 0;
      padding: 12px 38px;
      border-radius: 999rem;
      border: 1px solid #ffffff;
      background: transparent;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #ffffff;
        color: #181818;
        text-decoration: none;
      }
    }
  }
}

.w-home-h1 {
  display: block;
  position: relative;
  margin: 90px 0 75px 0;
  color: #181818;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.w-home-title {
  display: block;
  position: relative;
  margin: 0 0 35px 0;
  color: #181818;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.w-cards {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 30px 0;
  &__arrows {
    display: inline-block;
    margin: 0;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 25px;
  }
  &__title {
    display: block;
    margin: 0 0 7px 0;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 60px;
    height: 40px;
    margin: 0;
    outline: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 10px;
    background-image: url("../images/icon_next.png");
  }
  .swiper-button-prev {
    background-image: url("../images/icon_prev.png");
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 290px;
    margin: 0 auto 30px auto;
    &__image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 400px;
      padding: 20px 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    &__like {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 23px;
      height: 23px;
      background: url("../images/icon_like.png") no-repeat center center;
      background-size: contain;
      z-index: 1;
      &_active {
        background: url("../images/icon_like_active.png") no-repeat center center !important;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    &__info {
      display: inline-block;
      margin: 10px 0 0 0;
      padding: 11px 14px;
      border-radius: 0 25px 25px 0;
      background-color: #feb3a8;
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
    }
    &__sale {
      display: inline-block;
      margin: 10px 0 0 0;
      padding: 11px 14px;
      border-radius: 0 25px 25px 0;
      background-color: #fc929c;
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
    }
    &__prices {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 26px 0 16px 0;
    }
    &__price {
      display: inline-block;
      margin: 0;
      color: #181818;
      font-size: 24px;
      font-weight: 700;
    }
    &__oldprice {
      display: inline-block;
      margin: 0 0 0 20px;
      opacity: 0.5;
      color: #181818;
      font-size: 20px;
      font-weight: 700;
      text-decoration: line-through;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
    &__title {
      display: block;
      height: 42px;
      overflow: hidden;
      margin: 0;
      color: #181818;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #181818;
        text-decoration: none;
      }
    }
  }
}

.w-catalog {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0 70px 0;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 625px;
    height: 355px;
    margin: 0 auto 30px auto;
    padding: 45px 50px;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #fdd8d8;
      opacity: 0;
      transition: all 0.2s ease-out;
    }
    &_big {
      height: 740px;
    }
    &__title {
      display: block;
      max-width: 130px;
      margin: 0;
      color: #181818;
      font-size: 30px;
      font-weight: 700;
      z-index: 2;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:after {
        opacity: 0.5;
      }
      text-decoration: none;
    }
  }
}

.w-brands {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 40px 0;
  background: linear-gradient(to right, #fbece7 0%, #c5add0 100%);
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 234px;
    height: 84px;
    margin: 0 auto 50px auto;
    padding: 10px;
    border-radius: 999rem;
    background-color: transparent;
    img,
    svg {
      max-width: 100%;
      max-height: 100%;
      filter: grayscale(1);
      opacity: 0.8;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #ffffff;
      text-decoration: none;
      img,
      svg {
        filter: none;
        opacity: 1;
      }
    }
  }
}

.w-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 90px 0;
  &__cards {
    display: block;
    position: relative;
    padding: 55px 0 90px 0;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px auto;
    &__image {
      display: block;
      position: relative;
      width: 115px;
      height: 115px;
      border-radius: 999rem;
      background-color: #fcefef;
      img,
      svg {
        display: block;
        position: absolute;
        left: 55px;
        bottom: 45px;
        max-width: 100%;
        max-height: 100%;
        z-index: 1;
      }
    }
    &__title {
      display: block;
      position: relative;
      margin: -20px 0 0 55px;
      color: #181818;
      font-size: 22px;
      font-weight: 400;
      line-height: 1.36;
      z-index: 2;
    }
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
  }
  &__link {
    display: block;
    margin: 35px 0 0 0;
    color: #fc929c;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #fc929c;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    transition: all 0.2s ease-out;
    &_locked {
      height: 180px;
      overflow: hidden;
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 2;
        pointer-events: none;
        transition: all 0.2s ease-out;
      }
    }
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #181818;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    a {
      color: #fc929c;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #fc929c;
        text-decoration: none;
      }
    }
  }
}

.w-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 80px 0;
  background: linear-gradient(to right, #fbece7 0%, #c5add0 100%);
  &__logo {
    display: block;
    margin: 0;
    position: relative;
    img,
    svg {
      max-width: 160px;
      max-height: 160px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__subtitle {
    display: block;
    margin: 50px 0 6px 0;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
  }
  &__phone {
    display: block;
    margin: 0 0 8px 0;
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #181818;
      text-decoration: none;
    }
  }
  &__call {
    display: inline-block;
    margin: 0;
    opacity: 0.7;
    color: #181818;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #181818;
      text-decoration: none;
    }
  }
  &__email {
    display: block;
    margin: 0;
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #181818;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0;
    color: #181818;
    font-size: 20px;
    font-weight: 700;
  }
  &__link {
    display: block;
    margin: 8px 0 30px 0;
    color: #181818;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #181818;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 10px 0;
        opacity: 0.7;
        color: #181818;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 1;
          color: #181818;
          text-decoration: none;
        }
      }
    }
  }
  &__title {
    display: block;
    margin: 10px 0 36px 0;
    color: #181818;
    font-size: 18px;
    font-weight: 700;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    height: 35px;
    margin: 0 10px 10px 0;
    padding: 5px;
    border-radius: 999rem;
    background-color: #ffffff;
    &:last-child {
      margin-right: 0;
    }
    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__creators {
    display: block;
    margin: 0;
    opacity: 0.7;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #181818;
      text-decoration: none;
    }
  }
}

.w-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 520px;
    margin: 30px 0;
    padding: 45px 85px 30px 85px;
    border-radius: 5px;
    border: 1px solid #fdd8d8;
    background: #ffffff;
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #181818;
    font-size: 25px;
    font-weight: 400;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    color: #181818;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 7px 36px;
    border: 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fdd8d8;
    background: transparent;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:focus {
      padding: 7px;
    }
  }
  textarea {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 7px 36px;
    border: 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fdd8d8;
    background: transparent;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:focus {
      padding: 7px;
    }
  }
  &__button {
    display: inline-block;
    margin: 45px 0 0 0;
    padding: 8px 40px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #fdd8d8;
    color: #444444;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #444444;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 5px 0 0 0;
    color: rgba(24, 24, 24, 0.7);
    font-size: 12px;
    font-weight: 400;
    a {
      color: #181818;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #181818;
        text-decoration: none;
      }
    }
  }
}

.w-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 36px 0;
  list-style: none;
  color: #181818;
  font-size: 14px;
  font-weight: 400;
  li {
    display: inline-block;
  }
  span {
    margin: 0 5px;
    opacity: 0.7;
  }
  a {
    opacity: 0.7;
    color: #181818;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #181818;
      text-decoration: none;
    }
  }
}

.w-aside {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto 30px auto;
  &__nav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: block;
      position: relative;
      & > a {
        display: block;
        position: relative;
        margin: 0 0 8px 0;
        color: rgba(24, 24, 24, 0.7);
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 1;
          color: #fc929c;
          text-decoration: none;
        }
      }
    }
  }
  &__dropper {
    position: relative;
  }
  &__drop {
    display: none;
    margin: 0;
    padding: 0 0 5px 10px;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 6px 0;
        color: rgba(24, 24, 24, 0.5);
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 1;
          color: rgba(24, 24, 24, 0.7);
          text-decoration: underline;
        }
      }
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;
    color: #181818;
    font-size: 16px;
    font-weight: 700;
    &_active {
      .w-aside__arrow {
        transform: rotate(90deg);
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #181818;
      text-decoration: none;
    }
  }
  &__arrow {
    max-width: 18px;
    max-height: 18px;
    margin-left: 10px;
    transition: all 0.2s ease-out;
  }
  &__collapse {
    display: none;
    position: relative;
    width: 100%;
    padding: 25px 0 0 0;
  }
  &__checkbox {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #181818;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    div {
      padding-left: 26px;
      background: url("../images/icon_checkbox.png") no-repeat left top;
    }
    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/icon_checkbox_checked.png") no-repeat left top;
      }
    }
  }
  &__colors {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: calc(100% + 12px);
    margin-right: -12px;
  }
  &__color {
    display: block;
    position: relative;
    margin: 0 10px 7px 0;
    padding: 0;
    border-radius: 999rem;
    line-height: 1;
    div {
      display: block;
      position: relative;
      width: 26px;
      height: 26px;
      border: 1px solid #e4e4e4;
      border-radius: 999rem;
    }
    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div:after {
        display: block;
        position: absolute;
        content: "";
        top: -3px;
        left: -3px;
        width: 30px;
        height: 30px;
        border: 1px solid #9d9d9d;
        border-radius: 999rem;
        background: transparent;
        pointer-events: none;
        z-index: 1;
      }
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    input {
      display: block;
      position: relative;
      width: 100%;
      max-width: 87px;
      margin: 8px 0 0 0;
      padding: 2px 10px;
      border-radius: 3px;
      border: 1px solid #9d9d9d;
      outline: none;
      color: #181818;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #fc929c;
      }
    }
  }
  .noUi-handle {
    right: -5px;
    width: 10px;
    height: 10px;
    border: 0;
    outline: none;
    box-shadow: none;
    background: url("../images/icon_slider.png") no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    &:before,
    &:after {
      display: none;
    }
  }
  .noUi-target {
    height: 1px;
    margin: 15px 0;
    border: 0;
    background: #8d8d8d;
  }
  .noUi-connects {
    overflow: visible !important;
  }
  .noUi-connect {
    height: 3px;
    margin-top: -2px;
    background: #eca1a1;
  }
}

.w-goods {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 26px 0;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
  }
  &__sort {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 0 30px 0;
    &-title {
      display: inline-block;
      margin: 0;
      opacity: 0.7;
      color: #181818;
      font-size: 14px;
      font-weight: 400;
    }
    label {
      display: inline-block;
      margin: -17px 0 0 40px;
      padding: 0;
      line-height: 1;
      div {
        color: #181818;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 0.8;
          color: #181818;
          text-decoration: none;
        }
      }
      input {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        list-style: none;
        &:checked ~ div {
          color: #fc929c;
        }
      }
    }
  }
  &__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding: 60px 0 20px 0;
  }
  &-tag {
    display: inline-block;
    position: relative;
    margin: 0 10px 30px 0;
    padding: 4px 15px;
    border-radius: 999rem;
    background-color: rgba(252, 239, 239, 0.4);
    color: rgba(24, 24, 24, 0.5);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: rgba(252, 239, 239, 1);
      color: #181818;
      text-decoration: none;
    }
  }
}

.w-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px 0;
  list-style: none;
  &_ghost {
    background: transparent !important;
    a {
      background: transparent !important;
    }
  }
  &_active {
    a {
      font-weight: 700 !important;
    }
  }
  li {
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      min-width: 46px;
      height: 46px;
      margin: 0 5px 5px 5px;
      padding: 5px;
      border-radius: 999rem;
      background-color: #fcefef;
      color: #181818;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      img,
      svg {
        max-width: 32px;
        max-height: 32px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(0.9);
        color: #181818;
        text-decoration: none;
      }
    }
  }
}

.w-seen {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 0 0;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #181818;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
}

.w-good {
  display: block;
  position: relative;
  width: 100%;
  .swiper-pagination {
    display: inline-block;
    position: relative;
    width: auto;
  }
  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 5px;
    background: #ffffff;
    opacity: 1;
    outline: none;
  }
  .swiper-pagination-bullet-active {
    background: #969696;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 40px;
    height: 40px;
    margin: 0;
    outline: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 15px;
    background-image: url("../images/swiper_next.png");
  }
  .swiper-button-prev {
    margin-right: 15px;
    background-image: url("../images/swiper_prev.png");
  }
  &__images {
    display: block;
    position: relative;
    width: 100%;
  }
  &__fixed {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 3;
  }
  &-image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 385px;
    height: 600px;
    padding: 45px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__handles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    z-index: 3;
  }
  &__title {
    display: block;
    margin: 0;
    color: #181818;
    font-size: 40px;
    font-weight: 700;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 60px;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
  }
  &__subtitle {
    display: inline-block;
    margin: 0 5px 0 0;
    opacity: 0.7;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
  }
  &__link {
    opacity: 0.7;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #181818;
      text-decoration: none;
    }
  }
  &__stars {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    img,
    svg {
      display: inline-block;
      max-width: 25px;
      max-height: 25px;
      margin: 5px 10px 5px 0;
    }
  }
  &__prices {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 37px 0;
    color: #181818;
    font-size: 40px;
    font-weight: 700;
  }
  &__oldprice {
    display: inline-block;
    margin: 0 20px 0 0;
    opacity: 0.5;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
    text-decoration: line-through;
  }
  &__link {
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    opacity: 0.7;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    z-index: 2;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #181818;
      text-decoration: none;
    }
  }
  &__sizes {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 260px;
    padding: 5px 0 20px 0;
    label {
      display: inline-block;
      margin: -15px 10px 14px 0;
      padding: 0;
      line-height: 1;
      div {
        min-width: 40px;
        padding: 9px 12px;
        border-radius: 3px;
        background-color: #f1f1f1;
        color: #181818;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 0.8;
          color: #181818;
          text-decoration: none;
        }
      }
      input {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        list-style: none;
        &:checked ~ div {
          background: #fcefef;
        }
      }
    }
  }
  &__colors {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: calc(100% + 12px);
    margin-right: -12px;
  }
  &__color {
    display: block;
    position: relative;
    margin: -10px 10px 10px 0;
    padding: 0;
    border-radius: 3px;
    line-height: 1;
    div {
      display: block;
      position: relative;
      width: 40px;
      height: 35px;
      border: 1px solid #e4e4e4;
      border-radius: 3px;
    }
    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div:after {
        display: block;
        position: absolute;
        content: "";
        top: -1px;
        left: -1px;
        width: 40px;
        height: 35px;
        border: 1px solid #9d9d9d;
        border-radius: 3px;
        background: url("../images/icon_checked.png") no-repeat center center;
        pointer-events: none;
        z-index: 1;
      }
    }
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 10px 32px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #d6c0d8;
    color: #444444;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #444444;
      text-decoration: none;
    }
  }
  &__like {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 0 0 15px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: transparent;
    &_active {
      background: #d6c0d8;
      img,
      svg {
        max-width: 28px !important;
        max-height: 28px !important;
        filter: brightness(0) invert(1);
      }
    }
    img,
    svg {
      display: block;
      max-width: 37px;
      max-height: 37px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.w-tabs {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(27, 26, 25, 0.5);
    list-style: none;
    li {
      display: inline-block;
      margin-right: 80px;
      margin-bottom: -2px;
      padding: 3px 30px 3px 0;
      border-bottom: 3px solid transparent;
      color: rgba(24, 24, 24, 0.7);
      font-size: 25px;
      font-weight: 700;
      &.current {
        border-color: #feb3a8;
        color: rgba(24, 24, 24, 1);
        opacity: 1;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #181818;
    font-size: 40px;
    font-weight: 700;
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    padding: 50px 0 5px 0;
    color: #181818;
    font-size: 18px;
    font-weight: 400;
    &.current {
      display: block;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 850px;
    margin: 0 0 12px 0;
    background: url("../images/doted.png") repeat-x left bottom 8px;
    span {
      background: #ffffff;
    }
  }
}

.w-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0;
  &__title {
    display: block;
    margin: 0;
    color: #181818;
    font-size: 40px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 5px 0 0 0;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 10px 0;
  }
  &__subtitle {
    display: inline-block;
    margin: 0 10px 0 0;
    opacity: 0.7;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
  }
  .br-theme-fontawesome-stars-o .br-widget {
    margin-top: 7px;
  }
  .br-theme-fontawesome-stars-o .br-widget a:after {
    color: #5f5f5f;
  }
  .br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
    color: #fc929c;
  }
  .br-theme-fontawesome-stars-o .br-widget a.br-active:after {
    color: #fc929c;
  }
  input {
    display: block;
    width: 100%;
    max-width: 120px;
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    outline: none;
    background-color: transparent;
    color: #181818;
    font-size: 16px;
    font-weight: 700;
  }
  textarea {
    display: block;
    width: 440px;
    margin-left: -60px;
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    outline: none;
    background-color: transparent;
    color: #181818;
    font-size: 16px;
    font-weight: 700;
  }
  &__button {
    display: inline-block;
    padding: 11px 48px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #fcefef;
    color: #444444;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #444444;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin-top: -1px;
    padding: 35px 0 45px 0;
    border-top: 1px solid #fcefef;
    border-bottom: 1px solid #fcefef;
    &__row {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
    }
    &__name {
      display: inline-block;
      margin: 0;
      margin-bottom: -5px;
      color: #181818;
      font-size: 25px;
      font-weight: 700;
    }
    &__date {
      display: inline-block;
      margin: 0 0 0 25px;
      opacity: 0.7;
      color: #181818;
      font-size: 14px;
      font-weight: 400;
    }
    &__stars {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: 20px 0;
      img,
      svg {
        display: inline-block;
        max-width: 20px;
        max-height: 20px;
        margin: 0 4px 4px 0;
      }
    }
    &__text {
      display: block;
      margin: 0;
      color: #181818;
      font-size: 18px;
      font-weight: 400;
    }
  }
  &__load {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 60px 0;
    text-align: center;
    color: #fc929c;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #181818;
      text-decoration: underline;
    }
  }
}

.w-basket {
  display: block;
  position: relative;
  width: 100%;
  padding: 5px 0 100px 0;
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #181818;
    font-size: 40px;
    font-weight: 700;
  }
  &__right {
    display: block;
    text-align: right;
  }
  &__info {
    display: block;
    margin: 0;
    color: #181818;
    font-size: 16px;
    font-weight: 700;
  }
  &__subinfo {
    display: block;
    margin: 10px 0 0 0;
    opacity: 0.7;
    color: #181818;
    font-size: 12px;
    font-weight: 700;
  }
  &__header {
    display: block;
    position: relative;
    width: 100%;
    margin: 40px 0 0 0;
    padding: 12px 0;
    border-top: 1px solid rgba(157, 157, 157, 0.5);
    border-bottom: 1px solid rgba(157, 157, 157, 0.5);
    color: #181818;
    font-size: 14px;
    font-weight: 400;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 35px 0;
    border-bottom: 1px solid rgba(157, 157, 157, 0.5);
    &__handle {
      display: block;
      position: absolute;
      bottom: 40px;
      right: 0;
      z-index: 1;
    }
    &-do {
      display: inline-flex;
      align-items: center;
      position: relative;
      margin: 10px 0 0 20px;
      padding: 0;
      opacity: 0.7;
      color: #181818;
      font-size: 14px;
      font-weight: 400;
      img,
      svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        object-fit: scale-down;
        margin-right: 10px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        color: #181818;
        text-decoration: none;
      }
    }
    &__image {
      display: block;
      width: 180px;
      height: 250px;
      margin: 0 0 15px 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__row {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 250px;
    }
    &__title {
      display: block;
      margin: 0 0 20px 0;
      color: #181818;
      font-size: 25px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #181818;
        text-decoration: none;
      }
    }
    &__info {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      margin: 15px 0 0 0;
      color: #181818;
      font-size: 14px;
      font-weight: 400;
      &-title {
        display: inline-block;
        margin-right: 10px;
        opacity: 0.7;
        color: #181818;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &__oldprice {
      display: block;
      margin: 0 0 15px 0;
      opacity: 0.5;
      color: #181818;
      font-size: 16px;
      font-weight: 700;
      text-decoration: line-through;
    }
    &__price {
      display: block;
      margin: 0;
      color: #181818;
      font-size: 24px;
      font-weight: 700;
    }
    &__summ {
      display: inline-block;
      margin: 0;
      color: #181818;
      font-size: 24px;
      font-weight: 700;
    }
    &__counter {
      display: inline-flex;
      align-items: stretch;
      position: relative;
      margin: 5px 0 0 0;
      input {
        display: block;
        width: 100%;
        max-width: 40px;
        margin: 0;
        padding: 2px 2px;
        border: 0;
        outline: none;
        border-radius: 999rem;
        border: 0;
        background-color: transparent;
        color: #181818;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
    &__minus {
      display: block;
      position: relative;
      width: 30px;
      height: 40px;
      border: 0;
      background: url("../images/basket_minus.png") no-repeat center center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    &__plus {
      display: block;
      position: relative;
      width: 30px;
      height: 40px;
      border: 0;
      background: url("../images/basket_plus.png") no-repeat center center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &__final {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 85px 0 0 0;
    text-align: center;
    &-summ {
      display: block;
      margin: 0 0 25px 0;
      color: #181818;
      font-size: 40px;
      font-weight: 700;
    }
    &-button {
      display: inline-block;
      margin: 0;
      padding: 10px 46px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #d6c0d8;
      color: #444444;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #444444;
        text-decoration: none;
      }
    }
  }
}

.w-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 100px 0;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #181818;
    font-size: 40px;
    font-weight: 700;
  }
  &__subtitle {
    display: block;
    margin: 0 0 20px 0;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin-top: -1px;
    padding: 35px 0 25px 0;
    border-top: 1px solid #fcefef;
    border-bottom: 1px solid #fcefef;
    input {
      display: block;
      width: 100%;
      max-width: 485px;
      margin: 0 0 20px 0;
      padding: 13px 18px;
      border-radius: 5px;
      border: 1px solid #f1f1f1;
      outline: none;
      color: #181818;
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #fc929c;
      }
    }
  }
  &__check {
    display: block;
    position: relative;
    width: 100%;
    margin: -15px 0 10px 0;
    padding: 0;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    div {
      padding-left: 30px;
      padding-bottom: 3px;
      background: url("../images/form_checkbox.png") no-repeat left top;
    }
    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/form_checkbox_checked.png") no-repeat left top;
      }
    }
  }
  &__final {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 85px 0 0 0;
    text-align: center;
    &-info {
      display: block;
      margin: 0 0 15px 0;
      color: #181818;
      font-size: 18px;
      font-weight: 700;
    }
    &-summ {
      display: block;
      margin: 0 0 35px 0;
      color: #181818;
      font-size: 25px;
      font-weight: 700;
    }
    &-button {
      display: inline-block;
      margin: 0;
      padding: 10px 80px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #d6c0d8;
      color: #444444;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #444444;
        text-decoration: none;
      }
    }
  }
}

.w-article {
  display: block;
  position: relative;
  width: 100%;
  padding: 5px 0 70px 0;
  p {
    display: block;
    margin: 0 0 30px 0;
    color: #181818;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.31;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 25px 0;
    color: #181818;
    font-weight: 700;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  a {
    color: #ab80ba;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #181818;
      text-decoration: none;
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 30px 0;
  }
  ul {
    display: block;
    position: relative;
    margin: 5px 0 30px 0;
    padding: 0;
    list-style: none;
    color: #181818;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.78;
    li {
      display: block;
      position: relative;
      padding-left: 38px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 20px;
        top: 21px;
        width: 9px;
        height: 9px;
        border-radius: 999rem;
        background-color: #fc929c;
      }
    }
  }
  blockquote {
    display: block;
    position: relative;
    width: 100%;
    max-width: 880px;
    margin: 0 0 30px 0;
    padding: 7px;
    border-radius: 25px;
    background: linear-gradient(to bottom, #c6aed0, #fbece7);
    color: #181818;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    & > div,
    p {
      display: block;
      width: 100%;
      margin: 0;
      padding: 50px 80px;
      border-radius: 25px;
      background: #ffffff;
    }
  }
  .table {
    margin: 0 0 30px 0;
  }
  .table td,
  .table th {
    padding: 15px 8px;
    border-top: 0;
    border-bottom: 1px solid #f1f1f1;
    color: #181818;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  .table thead th {
    padding: 5px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    color: #181818;
    font-size: 25px;
    font-weight: 400;
  }
}

.w-contacts {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #181818;
    font-size: 40px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 35px 0;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
  }
  &__subtitle {
    display: block;
    margin: 0 0 5px 0;
    color: #181818;
    font-size: 18px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 0 0 20px 0;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
  }
  &__link {
    display: block;
    margin: 0 0 20px 0;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #fc929c;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 530px;
}

.w-feedback {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 90px 0;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 14px 0;
    color: #181818;
    font-size: 18px;
    font-weight: 400;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    max-width: 375px;
    margin: 0 8px 8px 0;
    padding: 7px 36px;
    border: 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fdd8d8;
    background: transparent;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;
  }
  textarea {
    display: block;
    position: relative;
    width: 100%;
    max-width: 385px;
    margin: 0 0 8px 0;
    padding: 7px 36px;
    border: 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fdd8d8;
    background: transparent;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;
  }
  &__button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 6px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #fdd8d8;
    color: #444444;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #444444;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 6px 0 0 0;
    color: rgba(24, 24, 24, 0.7);
    font-size: 11px;
    font-weight: 400;
    a {
      color: #181818;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #181818;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  body {
    padding: 0;
  }
  .w-header {
    height: 56px;
    overflow: hidden;
    &_opened {
      height: auto;
    }
  }
  .w-header__mob {
    width: 100%;
    order: 1;
    &-toggle {
      display: inline-block;
    }
  }
  .w-header__left {
    justify-content: space-around;
    order: 2;
  }
  .w-header__right {
    justify-content: space-around;
    order: 3;
  }
  .w-header__toggle {
    display: none;
  }
  .w-header__main {
    padding: 10px;
  }
  .w-header__call {
    margin: 5px 10px;
  }
  .w-header__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
  .w-header__dropper:hover > ul,
  .w-header__dropper:hover > div {
    display: none;
  }
  .w-header__search input {
    max-width: 100%;
  }
  .w-header__search {
    display: block;
    width: 100%;
  }
  .w-welcome-card__content {
    height: auto;
    min-height: 100vh;
    padding: 60px 0 40px 0;
  }
  .w-welcome-card__title {
    font-size: 54px;
  }
  .w-welcome-card__text {
    font-size: 20px;
  }
  .w-welcome-card__button {
    margin-top: 30px;
  }
  .w-welcome .swiper-pagination {
    bottom: 15px;
  }
  .w-home-h1 {
    margin: 20px 0;
    font-size: 42px;
  }
  .w-home-title {
    margin-bottom: 15px;
    font-size: 32px;
  }
  .w-cards .swiper-button-next,
  .w-cards .swiper-button-prev {
    margin: 0 0 5px 0;
    border-radius: 999rem;
  }
  .w-cards__row {
    padding-bottom: 10px;
  }
  .w-cards__title {
    font-size: 24px;
  }
  .w-cards {
    padding: 30px 0 10px 0;
  }
  .w-catalog {
    padding: 20px 0 30px 0;
  }
  .w-catalog-card {
    height: 300px;
    padding: 30px 20px;
  }
  .w-catalog-card_big {
    height: 300px;
  }
  .w-brands {
    padding: 30px 0;
  }
  .w-brands-card {
    margin-bottom: 10px;
  }
  .w-features {
    padding: 30px 0;
  }
  .w-features__cards {
    padding: 0;
  }
  .w-footer {
    padding: 30px 0;
  }
  .w-footer__subtitle {
    margin-top: 30px;
  }
  .w-footer__title {
    margin-bottom: 20px;
  }
  .w-footer__link {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .w-modal__content {
    padding: 30px 20px;
  }
  .w-modal__button {
    margin-top: 20px;
  }
  .w-modal__text {
    text-align: center;
  }
  .w-breadcrumps {
    padding: 80px 0 20px 0;
  }
  .w-aside__title {
    padding-top: 20px;
  }
  .w-aside__collapse {
    padding: 5px 0 20px 0;
  }
  .w-aside__row input {
    max-width: 100%;
  }
  .w-goods__sort label {
    margin: -10px 10px 7px 10px;
  }
  .w-pagination {
    padding: 5px 0 20px 0;
  }
  .w-goods__tags {
    padding: 10px 0 20px 0;
  }
  .w-goods-tag {
    margin: 0 5px 5px 0;
  }
  .w-seen {
    padding: 20px 0;
  }
  .w-seen__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .w-good-image {
    height: 350px;
  }
  .w-good__content {
    padding: 10px 0;
  }
  .w-good__prices {
    padding: 25px 0;
  }
  .w-tabs {
    padding: 20px 0;
  }
  .w-tabs__header {
    justify-content: space-around;
  }
  .w-tabs__header li {
    margin: 0;
    padding: 8px 16px;
  }
  .w-tabs__content {
    padding-top: 30px;
  }
  .w-reviews {
    padding: 20px 0;
  }
  .w-reviews textarea {
    width: 100%;
    margin: 10px 0;
  }
  .w-reviews-card {
    padding: 20px 0;
  }
  .w-reviews__load {
    padding: 30px 0;
  }
  .w-basket__right {
    text-align: left;
  }
  .w-basket__header {
    display: none;
  }
  .w-basket-card__row {
    min-height: auto;
  }
  .w-basket-card__title {
    margin-bottom: 5px;
  }
  .w-basket-card {
    padding: 20px 0;
    .text-right {
      text-align: left !important;
    }
  }
  .w-basket-card__oldprice {
    margin: 15px 0 5px 0;
  }
  .w-basket__final {
    padding-top: 30px;
  }
  .w-basket {
    padding-bottom: 30px;
  }
  .w-header__fav {
    margin-left: 10px;
  }
  .w-header__basket {
    margin-left: 10px;
  }
  .w-form__title {
    margin-bottom: 20px;
  }
  .w-form-card {
    padding: 20px 0;
  }
  .w-form__final {
    padding-top: 30px;
  }
  .w-form {
    padding: 5px 0 30px 0;
  }
  .w-article blockquote > div,
  .w-article blockquote p {
    padding: 30px 20px;
  }
  .w-article {
    padding-bottom: 30px;
  }
  .w-contacts__title {
    margin-bottom: 20px;
  }
  #map {
    height: 350px;
  }
  .w-feedback {
    padding: 30px 0;
  }
  .w-feedback__info {
    text-align: center;
  }
  .w-feedback__row {
    flex-flow: row wrap;
  }
  .w-feedback textarea {
    max-width: 100%;
    margin-right: 8px;
  }
  .w-feedback input {
    max-width: 100%;
  }
  .w-basket-card__handle {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    bottom: auto;
    top: 5px;
  }
}
